body{
background-color: #5F9598;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
padding: 90px;
    text-align: center;

}

.heading{
    color:#061E29;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-style:double;
    border-color:#F3F4F4;
    border-width:10px
}
.subheading{
    color:#1D546D;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-style:outset;
    border-color: #2596be;
    border-width:5px;
    padding: 10px;
}
.profile-img{
    border-style:solid;
    border-color: #000100;
    border-width: 4px;
    border-radius: 30px;
    filter:brightness(1.1)
}