
body{
li{ 
        color:blue;
        font-family: Cambria, serif;
        
    }
      h2{ 
        text-align:center;
        color:rgb(182, 0, 164)
    }  h1{ 
        text-align: center;
        color:rgb(255, 0, 76)
    }
    .font { 
font-family:'Courier New', Courier, monospace;

    }
    #highlight {
        background: #fff322
    }
    

    .greenblue {
background: #0D98BA
    }

    div{
        background:black;
        border: grey 9px solid
    }

    .centering {
        display: flex;
        justify-content: center
    }
}